@font-face {
	font-family: 'comfortaaregular';
	src: url('/fonts/comfortaa-regular-webfont.woff2') format('woff2'),
		url('/fonts/comfortaa-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'josefin_sanslight';
	src: url('/fonts/josefinsans-light-webfont.woff2') format('woff2'),
		url('/fonts/josefinsans-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'josefin_sansregular';
	src: url('/fonts/josefinsans-regular-webfont.woff2') format('woff2'),
		url('/fonts/josefinsans-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'comfortaalight';
	src: url('/fonts/comfortaa-light-webfont.woff2') format('woff2'),
		url('/fonts/comfortaa-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
