
/*reset css*/
* {
    margin: 0;
}
ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    -moz-margin-before: 0;
    -moz-margin-after: 0;
    -moz-margin-start: 0;
    -moz-margin-end: 0;
    -moz-padding-start: 0;
    -ms-margin-before: 0;
    -ms-margin-after: 0;
    -ms-margin-start: 0;
    -ms-margin-end: 0;
    -ms-padding-start: 0;
}

/*universal rules*/
a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background-color: #f2e9e1;
}

/*nav css*/
div#nav {
    background-color: #ea8f33;
    padding-bottom: 0.75em;
}

nav ul li {
    display: inline-block;
    padding: 1em 1.5em;
}
nav ul li.settings {
    float: left;
}

nav ul li.resources {
    float: right;
}

nav ul li a {
    color: #f2e9e1;
    font-family: 'josefin_sanslight';
    font-size: 1.1em;
}

nav img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
    z-index: 10;
}

nav img::after {
    clear: both;
}

div#lineafter {
    margin-top: 1px;
    height: 0.2em;
    background-color: #ea8f33;
    
}

/* chart */
div#chart {
    height: 415px;
    margin: 0 auto;
    position: relative;
}

h2#timer {
    text-align: center;
    font-family: comfortaalight;
    color: #ea7600;
    font-size: 2.8em;
    letter-spacing: 0.08em ;
    margin-top: 0.4em;
}

#goal {
    text-align: center;
    font-family:  comfortaalight;
    color: #ea7600;
    font-weight: 100;
    font-size: 1em;
    letter-spacing: 0.08em ;
}

.graphChart {
    display: flex;
    justify-content:  center;
    align-items: center;
    margin: 0 auto;
    margin-top: 1em;
    position: absolute;
    height: 300px;
    left: 1em;
    right: 1em;

}

.graphs {
    position: absolute;
    bottom: 4em;
    height: 220px;
    display: flex;
    overflow: hidden;

}

#graph1, #graph2, #graph3, #graph4, #graph5, #graph6, #graph7 {
    margin: 0 0.4em;
    background-color: #F2A255;
    width: 2em;
    /* height: 0; */
    border-bottom: #ea7600 thin solid;
    /* border-top: #ea7600 thin solid; */
    display: inline-block;
    text-align: center;
    flex: 7;
    align-self: flex-end;

}

.graphTimes {
    margin: 0 auto;
    margin-top: 2.5em;
    position: absolute;
    left: 1em;
    right: 1em;
    bottom: 1.9em;
    display: flex;
}
#time1, #time2, #time3, #time4, #time5, #time6, #time7 {
    display: inline-block;
    flex: 7;
    display: block;
    margin: 0 0.415em;
    width: 2em;
}
.times {
    text-align: center;
    font-family: comfortaalight;
    font-size: 13px;
    letter-spacing: 0.05em;
    
}

.hours {
    font-size: 9.5px;
}

/* button div section */

div#linebefore {
    margin-bottom: 1px;
    height: 0.2em;
    background-color: #ea8f33;
}
div#buttondiv {
    background-color: #ea8f33;
    padding: 0.4em;
} 

div#button {
    background-color: #ea7600;
    margin: 1em 1.9em 0 1.9em;
    border: 1px solid #f2e9e1;
    padding: 0.6em;
    padding-left: ;
}
#button h3#start {
    text-align: center;
    font-family: josefin_sanslight; 
    font-weight: 100;
    text-transform: uppercase;
    font-size: 2em;
    color: #f2e9e1;
    padding: 0.1em;
    padding-top: 0.25em;
}
#title { 
    text-align: center;
    display: block;
    margin: 0 auto;
    font-family: josefin_sansregular;
    color: #f2e9e1;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 1em;
    margin-bottom: 1.2em;
    letter-spacing: 0.1em;
}