
/*reset css*/
* {
    margin: 0;
}
ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

/*universal rules*/
a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background-color: #f2e9e1;
}

/*nav css*/
div#nav {
    background-color: #ea8f33;
    padding-bottom: 0.75em;
}

nav ul li {
    display: inline-block;
    padding: 1em 1.5em;
}
nav ul li.settings {
    float: left;
}

nav ul li.resources {
    float: right;
}

nav ul li a {
    color: #f2e9e1;
    font-family: 'josefin_sanslight';
    font-size: 1.1em;
}

nav img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
    z-index: 10;
}

nav img::after {
    clear: both;
}

div#lineafter {
    margin-top: 1px;
    height: 0.2em;
    background-color: #ea8f33;
    
}

/* chart */
div#chart {
    height: 425px;
}

h2#timer {
    text-align: center;
    font-family: comfortaalight;
    color: #ea7600;
    font-size: 2.8em;
    letter-spacing: 0.08em ;
    margin-top: 0.4em;
}

#goal {
    text-align: center;
    font-family:  comfortaalight;
    color: #ea7600;
    font-weight: 100;
    font-size: 1em;
    letter-spacing: 0.08em ;
}



/* button div section */

div#linebefore {
    margin-bottom: 1px;
    height: 0.2em;
    background-color: #ea8f33;
}
div#buttondiv {
    background-color: #ea8f33;
    padding: 0.4em;
} 

div#button {
    background-color: #ea7600;
    margin: 1em 1.9em 0 1.9em;
    border: 1px solid #f2e9e1;
    padding: 0.6em;
    padding-left: ;
}
#button h3#start {
    text-align: center;
    font-family: josefin_sanslight; 
    font-weight: 100;
    text-transform: uppercase;
    font-size: 2em;
    color: #f2e9e1;
    padding: 0.1em;
    padding-top: 0.25em;
}
#title { 
    text-align: center;
    display: block;
    margin: 0 auto;
    font-family: josefin_sansregular;
    color: #f2e9e1;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 1em;
    margin-bottom: 1.2em;
    letter-spacing: 0.1em;
}