
/*reset css*/
* {
    margin: 0;
}
ul, li, ol, div, a, p, body, img, h1, h2, h3, h4, h5, h6 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    -moz-margin-before: 0;
    -moz-margin-after: 0;
    -moz-margin-start: 0;
    -moz-margin-end: 0;
    -moz-padding-start: 0;
    -ms-margin-before: 0;
    -ms-margin-after: 0;
    -ms-margin-start: 0;
    -ms-margin-end: 0;
    -ms-padding-start: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;

}

/*universal rules*/
a {
    text-decoration: none;

}
a:visited {
    color: #f2e9e1;
}


li {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
}
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
body {
    background-color: #f2e9e1;
}

/*nav css*/
div#nav {
    background-color: #ea8f33;
    padding-bottom: 0.75em;
}

nav ul li {
    display: inline-block;
    padding: 1em 1.5em;
}
nav ul li.settings {
    float: left;
}

nav ul li.resources {
    float: right;
}

nav ul li a {
    color: #f2e9e1;
    font-family: 'josefin_sanslight';
    font-size: 1.1em;
}

nav img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
    z-index: 10;
}

nav img::after {
    clear: both;
}

div#lineafter {
    margin-top: 1px;
    height: 0.2em;
    background-color: #ea8f33;
    
}

/* chart */
div#chart {
    height: 400px;
    margin: 0 auto;
    position: relative;
}

h2#timer {
    text-align: center;
    font-family: comfortaalight;
    color: #ea7600;
    font-size: 2.8em;
    letter-spacing: 0.08em ;
    margin-top: 0.4em;
}

#hoursToGoal {
    text-align: center;
    font-family:  comfortaalight;
    color: #ea7600;
    font-weight: 100;
    font-size: 1em;
    letter-spacing: 0.08em ;
}
#anInputDiv {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 0.6em;
    /* padding: 0.5em 0; */
    text-align: center;

    
}
#input-4 {
    border: rgba(165, 165, 165, 0.4) thin solid;
    display: block;
    margin: 0 auto;
    background: transparent;
    font-family: josefin_sanslight;
    text-align: center;
    font-size: 1.6em;
    color: #545454;


}
#startTimeH2 {
    font-family: josefin_sanslight;
    font-size: 3em;
    color: black;
    font-weight: 100;
    text-align: center;
    margin-top: 2em;
}
/* GRAPHS */
.graphChart {
    display: flex;
    justify-content:  center;
    align-items: center;
    margin: 0 auto;
    /* margin-top: 1em; */
    position: absolute;
    height: 300px;
    left: 1em;
    right: 1em;
    bottom: 2em;

}

.graphs {
    position: absolute;
    bottom: 2em;
    height: 200px;
    display: flex;
    overflow: hidden;
    min-width: 80%;

}

/* individual graphs */
#graph1, #graph2, #graph3, #graph4, #graph5, #graph6, #graph7 {
    margin: 0 0.4em;
    background-color: #F2A255;
    width: 2em;
    /* height: 0; */
    border-bottom: #ea7600 thin solid;
    /* border-top: #ea7600 thin solid; */
    display: inline-block;
    text-align: center;
    align-self: flex-end;
    /* top: 210px; */
    
}

.graphite {
    flex: 7;
    /* display: flex; */
    /* align-self: flex-end; */
    /* display: flex; */
    /* bottom: 0; */
    /* margin-top: 200px; */
}
/* goal line */
#goalLine {
    width: 100%;
    margin: 0 auto;
    margin: 0 0.4em;
    /* height: 174.5px; */
    border-bottom: #fff thin solid;
    align-self: flex-end;
    position: absolute;
    bottom:  calc(174.5px + 2em);
    z-index: 10;
}
#goalLine p {
    text-align: right;
    margin-right: 1em;
    padding-top: 0.5em;
    font-family: comfortaalight;
    font-size: 0.8em;
    color: #545454;
}
.graphTimes {
    margin: 0 auto;
    display: inline-block;
    /* margin-top: 2em; */
    position: absolute;
    left: 1em;
    right: 1em;
    bottom: 3em;
    display: flex;
}

/* chart times (under the dates on charts) */
.times {
    /* display: inline-block; */
    /* flex: 7; */
    /* display: block; */
    /* width: 2em; */
        /* align-self: flex-end; */

}
.times {
    /* display: block; */
    margin-left: 0.4em;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-family: comfortaalight;
    letter-spacing: 0.05em;
    color: #545454;
    
}
.dates {
    /* position: absolute; */
    /* bottom: 0.8em; */

    font-size: 0.9em;
    /* margin-bottom: -0.5em; */
    
}

.hours {
    font-size: 0.7em;
/*     position:  absolute;
    text-align: center;
    align-content: center;
    bottom: 0.0em;
    margin-left: 0.7em;
    margin-right: 0.8em; */
    /* margin-bottom: 0.5em; */
}

/* bottom of chart */
#chartBottom {
    position: absolute;
    bottom: 11.4em;
    left: 2.4em;
    right: 2.4em;
    margin: 0 auto;
}
#average {
    font-family: comfortaalight;
    font-size: 0.9em;
    color: #545454;
    letter-spacing: 0.01em;
}

/* button div section */
div#buttonContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    
}
div#linebefore {
    margin-bottom: 1px;
    height: 0.2em;
    background-color: #ea8f33;
}
div#buttondiv {
    background-color: #ea8f33;
    padding: 0.4em;
} 

div#button {
    background-color: #ea7600;
    margin: 1em 1.9em 0 1.9em;
    border: 1px solid #f2e9e1;
    padding: 0.6em;
    /* padding-left: ; */
}
#button h3#start {
    text-align: center;
    font-family: josefin_sanslight; 
    font-weight: 100;
    text-transform: uppercase;
    font-size: 2em;
    color: #f2e9e1;
    padding: 0.1em;
    padding-top: 0.25em;
}
#title { 
    text-align: center;
    display: block;
    margin: 0 auto;
    font-family: josefin_sansregular;
    color: #f2e9e1;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 1em;
    margin-bottom: 1.2em;
    letter-spacing: 0.1em;
}


/*OVERLAY THAT IS HIDDEN BY DEFAULT*/
#overlayDiv {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 224, 204, 0.9); /* Black background with opacity */
    z-index: 12; /* Specify a stack order in case you're using a different order for other elements */
}


#overlayNav {
    /* border-bottom: thin #434343 solid; */
    /* padding-bottom: 1.em; */
}

#overlayNav ul li {
    display: inline-block;
    margin: 1em 2em 0 2em;
    font-family: josefin_sanslight;
    color: #545454;
    font-size: 1.1em;


}

#overlayNav #back {
    float: right;

}

#overlayNav #delete {
    color: red;
}
#overlayDiv h1 {
    clear: both;
    font-family: josefin_sanslight;
    font-size: 2em;
    font-weight: 900;
    /* letter-spacing: 0.1em; */
    text-align: center;
    margin-top: 0.75em;
}
#fastStart {
    text-align: center;
    margin-top: 1em;
    padding: 1em 0;
    border-top: thin #999 solid;
    border-bottom: thin #999 solid;
}
#fastStop {

    text-align: center;
    /* margin-top: 1em; */
    padding: 1em 0;
    /* border-top: thin black solid; */
    border-bottom: thin #999 solid;
}

#overlayDiv h2 {
    font-family: josefin_sanslight;
    font-size: 2em;
    color: #888;
    font-weight: 100;
}

#overlayDiv input {
    border: none;
    background: transparent;
    padding: 0.5em 0;
    font-family: josefin_sanslight;
    text-align: center;
    font-size: 1.6em;
    margin-top: 0.6em;
    color: #545454;
}

#saveDiv {
    margin: 0 auto;
    text-align: center;
}

#saveDiv h2:first-child {
    margin-top: 1em;
    margin-bottom: 1em;
}

div#save {
    background-color: #ea7600;
    margin: 2em 3em 0 3em;
    /* border: 1px solid #f2e9e1; */
    padding: 0.6em;
    /* padding-left: ; */
}

#save #saveH3 {
    text-align: center;
    font-family: josefin_sanslight; 
    font-weight: 100;
    text-transform: uppercase;
    font-size: 2em;
    color: #f2e9e1;
    padding: 0.1em;
    padding-top: 0.25em;
}



/*SETTINGS PAGE*/

#extraPage {
    background-color: rgb(255, 224, 204); /* Black background with opacity */
}
#extraPage div#nav {
    width: 100%;
    height: 7%;
}


#extraPage nav a {
    float: right;
    margin-right: 2em;
    margin-top: 1em;
    font-family: josefin_sanslight;
    font-size: 1.2em;
    color: #f2e9e1;
}
#settingsh1 {
    /* border-bottom: thin #999 solid; */
    clear: both;
    margin-bottom: 0.5em;
    padding-bottom: 0.3em;
}
#extraPage h1 {

    font-family: josefin_sanslight;
    text-align: center;
    margin-top: 0.7em;
}

#extraPage #settingsSecondDiv {
    border: thin solid #999;
    margin-top: 2em;
    font-family: comfortaalight;
    color: #202020;
}
#extraPage #settingsSecondDiv p {
    font-size: 1.5em;
    /* display: inline-block; */
}
#extraPage #goalSettings {
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    /* display: inline-block; */
}

#extraPage #goalSettings p {
    /* float: left; */
    /* display: inline-block; */
}
#extraPage #input-5 {
    /* display: block; */
    /* display: inline-block; */
    /* float: right; */
    border: none;
    background: transparent;
    width: 10%;
    font-size: 1em;
    font-family: comfortaalight;
    margin-left: 1em;
    color: #101010;
    padding-right: 0.1em;
    padding-bottom: 0.3em;
    padding-left: 0.4em;
    padding-top: 0.4em;
    border: thin solid #ea7600;
    border-radius: 0.1em;
}
#extraPage #reset {
    font-size: 0.8em;
    color: red;
    border-top: thin solid #999;
    clear: both;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
}

body.resources {
    overflow: visible;
}

#motivatingMomentImgs {
    margin: 0 auto;
    /* padding-top: 1em; */
    /* padding-bottom: 1em; */
    
    /* background: black; */
}
.resources img {
    max-width: 100%;
    width: 23%;
    margin-left: 0.2em;

}

.resources #resourcesDiv {
    border: none;
    margin-top: 2em;
    font-family: comfortaalight;
    color: #202020;

}

.resources #resourcesDiv p {
    font-size: 1.5em;
    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    padding-left: 1em;
    background-color: #F2A255;
    color: #f2e9e1;
    /* border-top: thin solid black; */
    box-shadow: 0px 0px 0px 1px;
}

#selfTalkImgs {
    /* font-size: 0.8em; */
    /* color: red; */
    /* border-top: thin solid rgb(255, 224, 204); */
    /* clear: both; */
    /* padding-top: 1em; */
    /* margin-bottom: 1em; */
}

/* #mmUpArrow {
    display: inline-block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
 */
/*@Medias*/

@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */ 
    .dates {
        /* position: absolute; */
        /* bottom: 0.8em; */
        /* margin-top: 1em; */
        font-size: 0.9em;
        margin-bottom: -0.5em;
        
    }

    .hours {
        font-size: 0.7em;
        margin-bottom: 0.5em;
    }
    #overlayDiv h1 {

        margin-top: 0.6em;
    }

    #overlayDiv h2 {
    
    font-size: 1.6em;
    font-weight: 100;
    }

    div#save {
    margin: 1.5em 3em 0 3em;
    /* border: 1px solid #f2e9e1; */
    padding: 0.5em;
    /* padding-left: ; */
    }
}

@supports not (-webkit-overflow-scrolling: touch) {
  /* CSS for other than iOS devices */ 
}